{% extends "base.html" %}

  {% block page_content %}
  <!-- page content -->
  <div class="right_col" role="main">

    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-question-circle-o"></i>Open</span>
        <div class="count">666</div>
        <span class="count_bottom"><i class="green">4% </i>From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>High</span>
        <div class="count">669.97</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Low</span>
        <div class="count">654</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Close</span>
        <div class="count">659.59</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>AMZN</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div id="echart_line" style="height:480px;"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>News <small>AMZN</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget" id="stockNews">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Prices Table<small>AMZN</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table" >
              <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Adj Close</th>
              </tr>
              </thead>
              <tbody id="priceTable">
              <tr>
                <th scope="row">1</th>
                <td>5/2/16</td>
                <td>663.919983</td>
                <td>685.5</td>
                <td>662.030029</td>
                <td>683.8499767</td>
                <td>6578500</td>
                <td>683.849976</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>4/29/16</td>
                <td>666</td>
                <td>669.97998</td>
                <td>654</td>
                <td>659.590027</td>
                <td>10310700</td>
                <td>659.590027</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>4/29/16</td>
                <td>666</td>
                <td>669.97998</td>
                <td>654</td>
                <td>659.590027</td>
                <td>10310700</td>
                <td>659.590027</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>4/29/16</td>
                <td>666</td>
                <td>669.97998</td>
                <td>654</td>
                <td>659.590027</td>
                <td>10310700</td>
                <td>659.590027</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      {% endblock %}
  </div>

  <!-- page content -->
