{# author: Yixuan Duan #}
{% extends "base.html" %}

  {% block page_content %}
  <!-- page content -->



    <!-- top tiles -->



    <div>
      <p class="search_title">Search the Stock</p>

        <form class="form-inline search">
          <input class="form-control mr-sm-2 search-field" type="search" placeholder="Please input stock name" aria-label="Search" style="width: 400px; height: 35px;">
          <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">submit</button>
        </form>

  </div>


      <!--</nav>-->



    <!-- /top tiles -->


      {% endblock %}



  <!-- page content -->
