{% extends "base.html" %}

  {% block page_content %}
  <!-- page content -->



    <!-- top tiles -->
    <div class="back-color ">
      <p class="title">Search the Stock</p>
      <nav class=" navbar navbar-light bg-light justify-content-between">

        <form class="form-inline search">
          <input class="form-control mr-sm-2 search-field" type="search" placeholder="Plase input stock name" aria-label="Search" style="width: 400px; height: 35px;">
          <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">submit</button>
        </form>
      </nav>
    </div>
  <script type="text/javascript">
      alert('Stock is not Found!')
  </script>

    <!-- /top tiles -->


      {% endblock %}


  <!-- page content -->
